@model IEnumerable<Requestnet.Core.Domain.InventarioEquipos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoeqNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJefeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLiderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarcaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoComponenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoProcedenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoeqNavigation.IdEstadoeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJefeNavigation.IdJefe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLiderNavigation.IdLider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarcaNavigation.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoComponenteNavigation.IdTipoComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoProcedenciaNavigation.IdTipoProcedencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEquipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEquipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEquipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
