@model IEnumerable<Requestnet.Core.Domain.InventarioEquipos>

@{
    ViewData["Title"] = "Index";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>
            
        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">
            <h3 class="panel-title">Inventario</h3>

            <p><a class="btnCrear" asp-action="Create">Crear nuevo</a></p>

            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Serial
                        </th>
                        <th>Cliente</th>
                        <th>Estadoeq</th>
                        <!--
    <th>
        Html.DisplayNameFor(model => model.IdJefeNavigation)
    </th>
    <th>
        Html.DisplayNameFor(model => model.IdLiderNavigation)
    </th>
        -->
                        <th>Marca</th>
                        <th>Tipo de componente</th>
                        <!--
    <th>
        Html.DisplayNameFor(model => model.IdTipoProcedenciaNavigation)
    </th>
        -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoeqNavigation.nom_estadoeq)
                        </td>
                        <!--
        <td>
            Html.DisplayFor(modelItem => item.IdJefeNavigation.IdJefe)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.IdLiderNavigation.IdLider)
        </td>
    -->
                        <td>
                            @Html.DisplayFor(modelItem => item.IdMarcaNavigation.nom_marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdTipoComponenteNavigation.nom_tipo_componente)
                        </td>
                        <!--
    <td>
        Html.DisplayFor(modelItem => item.IdTipoProcedenciaNavigation.IdTipoProcedencia)
    </td>
    -->
                        <td>
                            <ul class="menuDetalles">
                                <li><a class="btnEditar" asp-action="Edit" asp-route-id="@item.IdEquipo">Editar</a></li>
                                <li><a class="btnVer" asp-action="Details" asp-route-id="@item.IdEquipo">Detalles</a></li>
                                <li><a class="btnBorrar" asp-action="Delete" asp-route-id="@item.IdEquipo">Borrar</a></li>
                            </ul>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>