@model Requestnet.Core.Domain.Usuarios

@{
    ViewData["Title"] = "Details";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new object { }, new { @class = "active" })</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">

            <h3 class="panel-title">Detalle usuario</h3>

            <div class="mb-4">
                <a class="btnVolver" asp-action="Index">Volver</a>
            </div>
            <hr />

            <div>
                <dl class="row">
                    <dt class="col-sm-2">Tipo de docuento</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdTipdocNavigation.IdTipdoc)
                    </dd>
                    <dt class="col-sm-2">Número de Documento</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumDocumento)
                    </dd>
                    <dt class="col-sm-2">Nombres</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombres)
                    </dd>
                    <dt class="col-sm-2">Apellidos</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Apellidos)
                    </dd>
                    <dt class="col-sm-2">Fecha de nacimiento</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaNacimiento)
                    </dd>
                    <dt class="col-sm-2">Teléfono</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-2">Correo</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Correo)
                    </dd>
                    <dt class="col-sm-2">Contraseña</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contraseña)
                    </dd>
                    <dt class="col-sm-2">Dirección</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-2">Ciudad</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdCiudadNavigation.IdCiudad)
                    </dd>

                    <dt class="col-sm-2">Ingreso empresa</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaIngresoCom)
                    </dd>
                    <dt class="col-sm-2">Cargo</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cargo)
                    </dd>
                    <dt class="col-sm-2">Rol</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
                    </dd>

                    <dt class="col-sm-2">Estado rol</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEstadoruNavigation.IdEstadoru)
                    </dd>


                </dl>
            </div>
            <div>
                <a class="btnEditarContent" asp-action="Edit" asp-route-id="@Model.IdUsuario">Editar</a>
            </div>
        </div>
    </div>
</div>