@model IEnumerable<Requestnet.Core.Domain.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new object { }, new { @class = "active" })</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">
            <h3 class="panel-title">Usuarios</h3>

            <p><a class="btnCrear" asp-action="Create">Crear usuario</a></p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tipo de documento</th>
                            <th>Número de documento</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <!--<th>Fecha de nacimiento</th>-->
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Dirección</th>
                            <th>Ciudad</th>
                            <!--<th>Ingreso empresa</th>-->
                            <th>Cargo</th>
                            <th>Rol</th>
                            <th>Estado rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                         {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipdocNavigation.nombre_tipdoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumDocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                            <!--
    <td>
        Html.DisplayFor(modelItem => item.FechaNacimiento)
    </td>
    -->
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contraseña)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCiudadNavigation.nombre_ciu)
                            </td>
                            <!--
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaIngresoCom)
                            </td>
                            -->
                            <td>
                                @Html.DisplayFor(modelItem => item.Cargo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEstadoruNavigation.nom_estadoru)
                            </td>
                            <td>
                                <ul class="menuDetalles">
                                    <li><a class="btnEditar" asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a></li>
                                    <li><a class="btnVer" asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a></li>
                                    <li><a class="btnBorrar" asp-action="Delete" asp-route-id="@item.IdUsuario">Borrar</a></li>
                                </ul>
                            </td>
                        </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
