@model Requestnet.Core.Domain.Casos

@{
    ViewData["Title"] = "Delete";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">

            <h3 class="panel-title">Borrar componente</h3>

            <div class="mb-4">
                <a class="btnVolver" asp-action="Index">Volver</a>
            </div>
            <hr />

            <h2>¿Estás seguro de que quieres borrar esto?</h2>
            <div>

                <dl class="row">
                    <dt class="col-sm-2">Fecha de creación</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>
                    <dt class="col-sm-2">Descripción</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-2">Solución</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Solucion)
                    </dd>
                    <dt class="col-sm-2">
                        Fecha de solución
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaSol)
                    </dd>
                    <dt class="col-sm-2">Notas</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Notas)
                    </dd>
                    <dt class="col-sm-2">Cliente</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
                    </dd>
                    <dt class="col-sm-2">Estado</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstado)
                    </dd>
                    <dt class="col-sm-2">Jefe</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdJefeNavigation.IdJefe)
                    </dd>
                    <dt class="col-sm-2">Líder</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdLiderNavigation.IdLider)
                    </dd>
                    <dt class="col-sm-2">Técnico</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdTecnicoNavigation.IdTecnico)
                    </dd>
                    <dt class="col-sm-2">Tipo de caso</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdTipoCasoNavigation.IdTipoCaso)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdCaso" />
                    <input type="submit" value="Borrar" class="btnBorrar" />

                </form>
            </div>
        </div>
    </div>
</div>
