@model IEnumerable<Requestnet.Core.Domain.Casos>

@{
    ViewData["Title"] = "Index";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">
            <h3 class="panel-title">Novedades</h3>

            <p><a class="btnCrear" asp-action="Create">Crear nuevo</a></p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha de creación</th>
                        <th>Descripción</th>
                        <th>Solución</th>
                        <th>Fecha de creación</th>
                        <!--
                        <th>
                            Html.DisplayNameFor(model => model.Notas)
                        </th>

                        <th>
                            Html.DisplayNameFor(model => model.IdClienteNavigation)
                        </th>
                        -->
                        <th>Estado</th>
                        <!--
                        <th>
                            Html.DisplayNameFor(model => model.IdJefeNavigation)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.IdLiderNavigation)
                        </th>
                        -->
                        <th>Técnico</th>
                        <th>Tipo de caso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solucion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSol)
                            </td>
                            <!--
                            <td>
                                Html.DisplayFor(modelItem => item.Notas)
                            </td>

                            <td>
                                Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
                            </td>
                            -->
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.nom_estado)
                            </td>
                            <!--
                            <td>
                                Html.DisplayFor(modelItem => item.IdJefeNavigation.IdJefe)
                            </td>
                            <td>
                                Html.DisplayFor(modelItem => item.IdLiderNavigation.IdLider)
                            </td>
                            -->
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTecnicoNavigation.IdTecnico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoCasoNavigation.nom_tipo_caso)
                            </td>
                            <td>
                                <ul class="menuDetalles">
                                    <li><a class="btnEditar" asp-action="Edit" asp-route-id="@item.IdCaso">Editar</a></li>
                                    <li><a class="btnVer" asp-action="Details" asp-route-id="@item.IdCaso">Detalles</a></li>
                                    <li><a class="btnBorrar" asp-action="Delete" asp-route-id="@item.IdCaso">Borrar</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>