@model IEnumerable<Requestnet.Core.Domain.Orden>

@{
    ViewData["Title"] = "Index";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">
            <h3 class="panel-title">Proveedor</h3>

            <p><a class="btnCrear" asp-action="Create">Crear orden</a></p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Descripción
                            </th>
                            <!--
    <th>
        Html.DisplayNameFor(model => model.AdjuntarArchivo)
    </th>
    -->
                            <th>Fecha de aprobación</th>
                            <th>Solución</th>
                            <th>Fecha de solución</th>
                            <th>Notas</th>
                            <th>Estado</th>
                            <!--
    <th>Jefe</th>
    <th>Lider </th>
        -->
                            <th>Proveedor</th>
                            <th>Tipo de orden</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <!--
    <td>
        Html.DisplayFor(modelItem => item.AdjuntarArchivo)
    </td>
    -->
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaAprobacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solucion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSolucion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Notas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.nom_estado)
                            </td>
                            <!--
        <td>
            Html.DisplayFor(modelItem => item.IdJefeNavigation.IdJefe)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.IdLiderNavigation.IdLider)
        </td>
    -->
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoOrdenNavigation.nom_tipo_orden)
                            </td>
                            <td>
                                <ul class="menuDetalles">
                                    <li><a class="btnEditar" asp-action="Edit" asp-route-id="@item.IdOrden">Editar</a></li>
                                    <li><a class="btnVer" asp-action="Details" asp-route-id="@item.IdOrden">Detalles</a></li>
                                    <li><a class="btnBorrar" asp-action="Delete" asp-route-id="@item.IdOrden">Borrar</a></li>
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>